.tela{
   align-content: center !important; 
   width: 1000px;
   height: 100%;  
}
.back{
    background: url("../../../assets/icon-back.png");    
    background-repeat: no-repeat;
    position: absolute !important;
    width: 80px;
    height: 40px;  
}

.backA{
    margin-left: 50px;
    margin-top: 10px;
    color: #ffffff;
    font-style: bolder;
    font-size: 18px;
    width: 70px;
}

.iconTime{
    background: url("../../../assets/icon-time.png");    
    background-color: #ffffff;
    background-repeat: no-repeat;
    position: absolute !important;
    margin-left: 550px;
    margin-top: 15px;
    padding-top: 5px;
    height: 50px;
    width: 200px;
}

.iconTimeA{
    margin-left: 50px
}
.image{
    width: 100% !important;
    height: 100%;
      
}

.dish{
    position: absolute !important;
    margin-top: -200px;
    width: 600px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 24px;
}

.description{
    position: absolute !important;
    margin-top: -150px;
    width: 600px;
    color: #ffffff;
    font-weight: bold;
}

.font{
    margin-left: 10px !important;
    font-size: 18px;
    font-style: bolder;
}
.fontP{
    --font-style: bolder;
}
.checkbox-icon{
    --border-color: #ddcdcd !important;
    --border-radius: 50% !important;
    --background: #ffffff !important;
    --checkmark-color: #ffffff !important;
    --background-checked:  green;
    --border-color-checked: #ffffff;	
    width: 30px;
    height: 30px;
}
.modo{
    height: 50px !important;
    width: 800px !important;


}

.button{
    --background: #f0740f !important;
    margin-left: 90%
}

.buttonFinish{
    --background: #22f00f !important;
    margin-left: 90%
}
