<ion-content pading >
  <ion-grid class="login">
    <div class="login center">
      <div class="center">
        <ion-item class="logo"></ion-item>
        <ion-input id="usuario" [(ngModel)]="usuarioLogin" class="usuario" placeholder= "Nome do usuário"></ion-input>
        <ion-input id="senha" [(ngModel)]="senhaLogin" class="senha" placeholder= "Senha" type="password" ></ion-input>
        <ion-button class="acessar" (click)="login()"> Acessar </ion-button>
      </div>
    </div>
  </ion-grid>
</ion-content>