
.login{
    background: url('../../../assets/img-bg-login.jpg') !important;
    background-repeat: no-repeat !important;
    background-size:cover !important;
    height: 1020px;
    width: 768px;
    //background-position: 50% 0%;
    margin-left: auto;
    margin-right: auto;
}
.center{
    display: inline-block;
    padding-left: 110px;
    padding-top: 80px;
}

.logo{
    background: url('../../../assets/logo-coco-bambu.png');
    background-repeat: no-repeat;
    padding-left: 200px;
    padding-top: 200px;
    width: 0px;
    left: 50px;
}

.usuario{
    background: url("../../../assets/icon-login.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    //height: 99px !important;
    width: 300px !important;
    height: 40px !important; 
    padding-left: 40px !important;
    margin-bottom: 20px !important;
    font-style: italic;
}

.senha{
    background:  url("../../../assets/icon-key.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 300px !important;
    height: 40px !important;
    padding-left: 40px !important;
    margin-bottom: 20px !important;
    font-style: italic;
}

.acessar{
    width: 300px ;
    --background: rgba(255, 145, 0, 0.924);
    --background-hover: rgba(60, 255, 0, 0.924);
}
