.tamanho{
    height: 1000px;
    width: 100%;
}
.header{
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    //padding: 20px;
    //padding-bottom: 30px;
    //padding-top: 50px;
    height: 80px;

}

.logo{
    background: url("../../../assets/logo-coco-bambu-mini.png");
    background-repeat: no-repeat;
    width: 0px !important;
    height: 50px !important;
    margin-left: 40px !important;
    margin-top: 10px;

}

.search{
    left: 200px !important;
    width: 350px !important;
    height: 30px;
    background: #ffffff;
    border-left-width: 108px !important;

    //padding-left: 10px !important;
}

.iconFind{
    background: url("../../../assets/icon-busca.png");
    background-repeat: no-repeat;
}

.request{
    background: url("../../../assets/icon-login.png");
    color: #000000 !important;
    left: 550px !important;
    width: 90px !important;
    //background-repeat: no-repeat !important;
}
.pedido{
    font-style: bolder;
    font-size: 18px
}
.recipes{
    background-color: #000000 !important;
    color: #000000 !important;
    left: 600px !important;
    width: 90px !important;
  ///  background: url("../../../assets/icon-login.png");
   // background-repeat: no-repeat;
}

.logout{
    --background: url("../../../assets/icon-login.png") no-repeat top;
    border-color: #ffffff !important;
    border-radius: 50% !important;
    color: #ffffff !important;
    left: 400px !important;
    width: 60px;
    height: 45px;

}

.logoutSair{
    color: #ffffff !important;
    left: 400px !important;
    margin-top: 30px;
    width: 60px;
    height: 60px;
}

.mainDiv {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    z-index: 10;
  }
  
.dish {
    padding-left: 40px;
    border-top-width: 130px;
    border-bottom-width: 120px;
    margin-bottom: 20px;
    //margin-left: 10px;
    margin-top: 40px;
    width: 240px;
    height: 160px;



}

.divSize{
    width: 75%;
    height: 70%;
}

.dishName{
    border-left-width: 20px;
    margin-left: 30px;
    //width: 600px;
    //width: 00px;
    padding-top: 0px;
    font-style: bolder;
    font-size: 18px

}

.dishDraft {
    width: 90%;
    border-left-width: 20px;
    margin-left: 30px;
    //width: 600px;
    padding-top: 0px;
   
}

.seeRecipes{
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: top;
    background-color: orange;
//    margin-left: 20px;
    margin-top: 30px;

}

