
 
  <div>
    <ion-grid class="logo">
    <ion-input class="search" [(ngModel)]="searchQuery" (keyup)="updateList()"  placeholder= "Buscar receita..."></ion-input>
    </ion-grid>
  </div>
  

 
 <ion-content padding>
   <ion-grid >
     <ion-row *ngFor="let dish of return">
       <ion-col>
          <td>
              <p><img class="dish" src="{{dish.image}}"></p>
              <p class="dishName">{{dish.nomePrato}}</p>
              <p class="dishName">{{dish.discricaoPrato}}</p>
          </td>
          
             
              
           
        </ion-col>
      </ion-row>
    </ion-grid>
     
        
     


   

 </ion-content>

 