.header{
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

}

.logo{
    color: #000000 !important;
    background: url("../../../assets/logo-coco-bambu-mini.png") !important;
    background-repeat: no-repeat !important;
    height: 40px !important;
    padding-left: 40px !important;
    padding-top: 0px !important;

}

.search{
    background: #ffffff;
    left: 200px !important;
    width: 500px !important;
    border-left-width: 108px !important;

    //padding-left: 10px !important;
}

.request{
    background: url("../../../assets/icon-login.png");
    color: #000000 !important;
    left: 550px !important;
    width: 90px !important;
    //background-repeat: no-repeat !important;
}

.recipes{
    background-color: #000000 !important;
    color: #000000 !important;
    left: 600px !important;
    width: 90px !important;
  ///  background: url("../../../assets/icon-login.png");
   // background-repeat: no-repeat;
}

.logout{
    background-color: #000000 !important;
    color: #000000 !important;
    left: 650px !important;
    width: 90px !important;
    //background: url("../../../assets/icon-login.png");
    //background-repeat: no-repeat;
}

.mainDiv {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    z-index: 10;
  }
  
.dish {
    padding-left: 40px;
    border-top-width: 130px;
    border-bottom-width: 120px;
    margin-bottom: 20px;
    //margin-left: 10px;
    margin-top: 40px;
    width: 240px;
    height: 160px;



}

.dishName{
    border-left-width: 20px;
    margin-left: 30px;
    //width: 600px;
    width: 400px;
    padding-top: 0px;

}

.dishDraft{
    //width: 600px;
    //border-left-width: 20px;
    //margin-left: 30px;
    border-left-width: 20px;
    margin-left: 30px;
    width:100%;
}

.seeRecipes{
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: top;
    background-color: orange;
    margin-left: 20px;
    margin-top: 30px;

}

